
/*
color:
white: #fff;

very-ligh-grey (for text): #848589;

light-grey: #2d2e32;
dark-grey: #25262a;

green: #64f5ab;  rgba(100, 245, 171, 1)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* buttons */
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  font-size: 24px;
  color: #64f5ab;
  transition: 0.4s;
}

.top, .bottom {
  position: absolute;
  width: 10px;
  height: 10px;
}

.top {
  top: 0;
  border-top: 3px solid #64f5ab;
}

.bottom {
  bottom: 0;
  border-bottom: 3px solid #64f5ab;
}

.left {
  left: 0;
  border-left: 3px solid #64f5ab;
}

.right {
  right: 0;
  border-right: 3px solid #64f5ab;
}

.btn:hover {
  background-color: #64f5ab;
  color: #2d2e32;
  transform: scale(1.1);
}
/* buttons END */

/* Scroll Up Button */
#btnScrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  background-color: #0b0c0e;
  color: #79ffca;
  border-color: #79ffca;
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
  transition: 0.5s;
  cursor: pointer;
  z-index: 99;
}

#btnScrollTop i {
  font-size: 24px;
}

#btnScrollTop.visible {
  opacity: 1;
}

#btnScrollTop:active {
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
}
/* Scroll Up Button END */

/* cursor bar */
.cursor-bar {
  font-size: 16px;
  transition: 0.1s;
  animation: blinkAnim 2s infinite;
}
/* cursor bar END */

/* toggle */
.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 12px;
  display: none;
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* toggle END */

/* header */
header {
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  padding: 30px 0px 18px;
  transition: 0.4s;
}

header.sticky {
  background-color: #5f67df;
}

.header__container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 24px;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li {
  margin: 0px 22px;
  transition: 0.4s;
}

.nav-links ul li a {
  color: #fff;
  position: relative;
  transition: 0.4s;
}

.nav-links ul li a::before {
  content: '<';
  position: absolute;
  color: #2d2e32;
  left: -14px;
  bottom: 0px;
  transition: 0.4s;
}

.nav-links ul li a::after {
  content: '>';
  position: absolute;
  color: #2d2e32;
  right: -14px;
  bottom: 0px;
  transition: 0.4s;
}

.nav-links ul li:hover a {
  color: #64f5ab;
}

.nav-links ul li:hover a::before,
.nav-links ul li:hover a::after {
  color: #64f5ab;
}

.header-box-3 {
  display: flex;
  align-items: center;
}

.header-box-3 i {
  color: #fff;
  font-size: 18px;
  margin-left: 24px;
  transition: 0.4s;
}

.header-box-3 a:hover i {
  color: #64f5ab;
}

.send-mail {
  margin-left: 36px;
  width: 30px;
  height: 30px;
  background-color: #848589;
  border-radius: 50%;
  position: relative;
}

.send-mail a {
  display: block;
  position: absolute;
  left: -18px;
  bottom: 4px;
}

.send-mail i {
  color: #64f5ab;
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2e32;
}

.logo h4 {
  color: #fff;
  font-size: 24px;
  display: flex;
}

.logo h4 span {
  color: #848589;
}

.section__container {
  width: 80%;
  margin: 0 auto;
}

.hero-inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner-half {
  width: 50%;
}

.hero-inner-half h1 {
  font-size: 18px;
  font-weight: 400;
  color: #2d2e32;
  background-color: #64f5ab;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 24px;
}

.hero-inner-half h4 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 24px;
}

.hero-inner-half h2 {
  color: #848589;
  margin-bottom: 48px;
}
/* hero section END */

/* intro section */
.intro {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro-container-half,
.intro-container-half-centered {
  width: 50%;
}

.intro-container-half-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-card {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2d2e32;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.4s;
}

.services-card:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 9px 24px 4px rgba(0,0,0,0.32);
  box-shadow: 0px 9px 24px 4px rgba(0,0,0,0.32);
}

.services-card .service-card-left h4 {
  color: #64f5ab;
  font-size: 24px;
  margin-bottom: 6px;
}

.services-card .service-card-left h5 {
  font-size: 14px;
  color: #848589;
}

.service-card-right h4 i {
  color: #64f5ab;
  font-size: 24px;
}

.half-centered-inner p.introduction {
  color: #848589;
  margin-bottom: 30px;
}

.half-centered-inner {
  width: 80%;
}

.half-centered-inner h3 {
  color: #fff;
  font-size: 54px;
  margin-bottom: 60px;
  font-weight: 400;
}

.half-centered-inner h3 span {
  color: #64f5ab;
}

.half-centered-inner h5 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 42px;
  font-weight: 400;
}

.half-centered-inner p {
  color: #848589;
}
/* intro section END */

/* skills */
.skills {
  background-color: #2d2e32;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 100%;
  margin-bottom: 48px;
}

.section-title-half {
  width: 50%;
  text-align: center;
}

.section-title-half h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

.skills-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.skills-half {
  display: flex;
  width: 50%;
}

.skills-box {
  min-height: 200px;
  width: 200px;
  background-color: #25262a;
  border-radius: 10px;
  margin: 24px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
}

.skill-box-img {
  width: 150px;
  height: 150px;
}

.skills-box h4 {
  color: #fff;
  transition: 0.4s;
}

.skills-box:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 9px 24px 4px rgba(100, 245, 171, 1);
  box-shadow: 0px 9px 24px 4px rgba(100, 245, 171, 1);
}

.skills-box:hover h4 {
  transform: scale(1.1);
  color: #64f5ab;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-half-long {
  background-color: #25262a;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  padding: 24px;
}

.skills-half-long h3 {
  font-size: 24px;
  color: #64f5ab;
  margin-bottom: 12px;
}

.skills-half-long p {
  color: #fff;
  margin-bottom: 6px;
}

.mobile-only {
  display: none;
}
/* skills END */

/* work */
.work {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* work END */

/* project */
.project-half {
  width: 50%;
  padding: 24px;
}

.project-half-inner {
  background-color: #2d2e32;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  padding: 24px;
}

.project-half-inner h3 {
  font-size: 24px;
  color: #64f5ab;
  margin-bottom: 12px;
}

.project-half-inner p {
  color: #fff;
}
/* project END */

/* pages */
.page-hero {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2e32;
}

.page-hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page-hero-half {
  width: 50%;
  height: 100%;
}

.page-hero-half h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 24px;
}

.page-hero-half h2 {
  color: #848589;
  margin-bottom: 48px;
}

.page-hero-half h2 span {
  color: #64f5ab;
}

.page-hero-img {
  filter: brightness(0.6);
}

.contact-form {
  background-color: #25262a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-form-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-half {
  width: 50%;
}

.gallery {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-box {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  transition: 0.8s;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.gallery-box:hover {
  transform: scale(1.1);
  /* -webkit-box-shadow: 0px 9px 18px 4px rgba(100, 245, 171, 1);
  box-shadow: 0px 9px 18px 4px rgba(100, 245, 171, 1);  */
}

.gallery-box-1 {
  background: url("../img/kronstadt.png");
}

.gallery-box-2 {
  background: url("../img/barber.png");
}

.gallery-box-3 {
  background: url("../img/graphic.png");
}

.gallery-box-4 {
  background: url("../img/lorenzo.png");
}

.gallery-box-5 {
  background: url("../img/coders.png");
}

.gallery-box-6 {
  background: url("../img/exanor.png");
}

.gallery-box-7 {
  background: url("../img/metatron.png");
}

.gallery-box-8 {
  background: url("../img/skywire.png");
}

.gallery-box-9 {
  background: url("../img/mayra.png");
}

.gallery-box-10 {
  background: url("../img/tarkhan.png");
}

.gallery-box-11 {
  background: url("../img/cod.png");
}

.gallery-box-12 {
  background: url("../img/warchief.png");
}

.gallery-box-13 {
  background: url("../img/bomber.png");
}

.gallery-box-14 {
  background: url("../img/cypherlock.png");
}

.gallery-box-15 {
  background: url("../img/linkdash.png");
}

.gallery-box-16 {
  background: url("../img/haddad.png");
}

.gallery-box-17 {
  background: url("../img/exanorLogo.png");
}

.gallery-box-18 {
  background: url("../img/cypherlockLogo.png");
}

.gallery-box-19 {
  background: url("../img/qrazorlogo.png");
}

.gallery-box-20 {
  background: url("../img/savaranlogo.png");
}

.gallery-box-21 {
  background: url("../img/thufirlogo.png");
}

.gallery-box-inner {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0,0,0,0.3);
  transition: 0.8s;
}

.gallery-box:hover .gallery-box-inner {
  background-color: transparent;
}

.inner-2 {
  justify-content: flex-end;
}


.made-in {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.made-in-box {
  padding: 6px;
  margin-left: 6px;
  background-color: #25262a;
  color: #fff;
}

.gallery-box-titles {
  width: 100%;
  padding: 12px;
  background-color: #25262a;
  color: #fff;
}

.gallery-box-titles .title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 6px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 36px 0px 48px;
}

.form-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-row-2 {
  width: 100%;
  padding: 6px;
}

.form-box {
  width: 50%;
  padding: 6px 6px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 12px;
  background-color: #2d2e32;
  border-radius: 6px;
  border: 1px solid #848589;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color:#fff;
}

.form-container input {

}

.form-container textarea {
  resize: none;
  padding-bottom: 42px;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: 2px solid #64f5ab;
}

.thank {
  background-color: #2d2e32;
}

.thank-container {
  text-align: center;
  padding: 36px 0px 72px;
}

.thank-container h2 {
  color: #64f5ab;
  font-size: 54px;
  margin-bottom: 6px;
  font-weight: 400;
}

.thank-container h3 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 400;
}

.thank-container h4 {
  color: #848589;
  font-size: 18px;
}
/* pages END */

/* footer */
footer {
  background-color: #25262a;
}

.footer-row {
  width: 100%;
  display: flex;
  padding: 42px 0px 36px;
}

.footer-row-half,
.footer-box-1 {
  flex: 1;
}

.footer-row-half {
  display: flex;
}

.footer-box-1 a h4 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 12px;
}

.footer-box-1 a h4 span {
  color: #848589;
}

.footer-box-1 p {
  color: #fff;
}

.footer-box-1 h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
}

.footer-box-1 ul li {
  margin-bottom: 6px;
}

.footer-box-1 ul li a {
  color: #848589;
  font-size: 18px;
  transition: 0.4s;
}

.footer-box-1 ul li:hover a {
  color: #64f5ab;
}

.footer-row p {
  color: #848589;
}

.footer-title-desc {
  width: 60%;
}
/* footer END */

/* animations */
@keyframes blinkAnim {
  0% {
    /* color: #0b0c0e; */
    opacity: 0;
  }
  50% {
    /* color: #79ffca; */
    opacity: 1;
  }
}

/* animations END */

/* media queries */
@media (max-width: 1100px){

  .toggle {
    display: block;
  }

  .intro-container {
    flex-direction: column-reverse;
  }

  .intro-container-half,
  .intro-container-half-centered {
    width: 100%;
    margin-bottom: 36px;
  }

  .intro-container-half-centered {
    justify-content: flex-start;
  }

  .section-title-half {
    text-align: left;
    margin-left: 6px;
  }

  .skills-container {
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }

  .skills-half {
    width: 100%;
  }

  .skills-half-long {
    height: initial;
    min-height: 200;
  }

  .skills-box {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .skill-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 16px;
  }

  .skill-mini-img {
    width: 100px;
  }

  .skill-mini h4 {
    color: #fff;
  }

  .project-half {
    width: 100%;
    padding: 0px;
    margin-bottom: 24px;
  }

  .gallery-box-inner {
    background-color: transparent;
  }

  .contact-form-inner {
    flex-direction: column-reverse;
  }

  .contact-form-half {
    width: 80%;
    margin: 0 auto;
  }

  .form-row-1 {
    flex-direction: column;
  }

  .form-box {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-row-half {
    margin-bottom: 36px;
  }
}

@media (max-width: 575.98px) {

  .intro {
    padding-bottom: 60px;
  }

  .skills {
    padding-bottom: 60px;
  }

  .services-card {
    padding: 30px;
  }

  .mobile-only {
    justify-content: center;
  }

  .skill-mini {
    margin-right: 0px;
  }

  .contact-form-half {
    width: 100%;
  }

  .footer-row-half {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .footer-box-1 {
    margin-bottom: 30px;
  }
}

@media (max-width:350px){
  .services-card {
    padding: 20px;
  }
}
